h1 {
  font-family: sans-serif;
}

ul {
}

li {
  list-style: none;
  display: block;
}

a {
  list-style: none;
  text-decoration: none;
  color: #004981;
  font-family: sans-serif;

}

a:hover {
  color: #303133;
}

h3 {
  font-family: sans-serif;
}

h4 {
  color: black;
  font-family: sans-serif;
}

p {
  font-family: sans-serif;
}

footer {
 position: absolute;
 bottom: 0;
}
